<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/style.css" />
    <link rel="stylesheet" href="bootstrap/tiny-slider.css" />
    <link rel="stylesheet" href="scss/style.scss" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EcommerceClient.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/tiny-slider.js"></script>
</body>

</html>
