/* Login Page Styling */
.login-section {
    background-color: #fff;
    margin: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #f3f6fa;
    padding: 20px;
    border-radius: 8px;
    
    max-width: 400px;
    width: 100%;
}

    .login-form h2 {
        margin-bottom: 20px;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: #7fad39;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #6d9332;
    }
