@page "/HomeAdmin"

@using EcommerceClient.Components.Modals.User

@inject ProductService productService

<!-- Admin Dashboard Section Begin -->
<section class="admin-dashboard spad">
    <div class="container">
        <div class="row text-center">
            <!-- Users Card -->
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        @* <h5 class="card-title">Manage Users</h5> *@
                        <p class="card-text">Add, update, or delete users.</p>
                        <button class="btn btn-light" data-bs-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers">Manage Users</button>
                        @* <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#userModal">Add User</button> *@
                    </div>
                    <div class="collapse mt-2" id="collapseUsers">
                        <ul class="list-unstyled">
                            <li><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createUserModal">Add User</button></li>
                            <li><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#manageUserModal">Manage Users</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Brands Card -->
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Brands</div>
                    <div class="card-body">
                        @* <h5 class="card-title">Manage Brands</h5> *@
                        <p class="card-text">Add, update, or delete brands.</p>
                        <button class="btn btn-light" data-bs-toggle="collapse" href="#collapseBrands" role="button" aria-expanded="false" aria-controls="collapseBrands">Manage Brands</button>
                    </div>
                    <div class="collapse mt-2" id="collapseBrands">
                        <ul class="list-unstyled">
                            <li><button type="button" class="btn btn-outline-success">Add Brand</button></li>
                            <li><button type="button" class="btn btn-outline-warning">Edit Brands</button></li>
                            <li><button type="button" class="btn btn-outline-danger">Delete Brand</button></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!-- Categories Card -->
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        @* <h5 class="card-title">Manage Categories</h5> *@
                        <p class="card-text">Add, update, or delete categories.</p>
                        <button class="btn btn-light" data-bs-toggle="collapse" href="#collapseCategories" role="button" aria-expanded="false" aria-controls="collapseCategories">Manage Categories</button>
                    </div>
                    <div class="collapse mt-2" id="collapseCategories">
                        <ul class="list-unstyled">
                            <li><button type="button" class="btn btn-outline-success">Add Category</button></li>
                            <li><button type="button" class="btn btn-outline-warning">Edit Categories</button></li>
                            <li><button type="button" class="btn btn-outline-danger">Delete Category</button></li>
                        </ul>
                    </div>
                </div>                
            </div>
            <!-- Products Card -->
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Products</div>
                    <div class="card-body">
                        @* <h5 class="card-title">Manage Products</h5> *@
                        <p class="card-text">Add, update, or delete products.</p>
                        <button class="btn btn-light" data-bs-toggle="collapse" href="#collapseProducts" role="button" aria-expanded="false" aria-controls="collapseProducts">Manage Products</button>
                    </div>
                    <div class="collapse mt-2" id="collapseProducts">
                        <ul class="list-unstyled">
                            <li><button type="button" class="btn btn-outline-success">Add Product</button></li>
                            <li><button type="button" class="btn btn-outline-warning">Edit Products</button></li>
                            <li><button type="button" class="btn btn-outline-danger">Delete Products</button></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!-- Admin Dashboard Section End -->

<CreateUserModal />
<ManageUserModal />
@code {
    
    
}
